@media screen and (max-width: 1108px) {
  .wrapper {
  width: 90%;
  }
  
  #social {
    position: absolute;
    width: auto;
    top: 82px;
    right: 4px;
  }
}

@media screen and (max-width: 900px) {
  body {
    font-size: 85%;
  }
  
  #logo h1: {
    height: 35px;
    width: 35px;
  }
  
  #log h2 {
    font-size: 2.2em;
  }
  
  #social {
    top: 72px;
  }
  
  col-3 p {
    column-count: 2;
  }
}

@media screen and (max-width: 900px) {
  #navbar nav a {
    font-size: 0.9em;
  }
  
  .col-3 p {
    column-count: 1;
  }
  
  .col-1, .col-2, .col-3 {
    width: 100%;
    margin-left: 0px;
    float: none;
  }
    
  .border-right {
    border: 0px;
  }
  
  #details div {
    height: auto
  }
}

@media screen and (max-width: 700px) {
  
  #navbar nav {
    border: 0;
  }
  
  #navbar nav a {
    border: 0;
          padding: 0px;
  }
  
  #navbar .menu {
    display: none;
  }
  
  #navbar nav a.menu-icon {
    display: block;
    font-size: 2em;
    text-align: left;
    width: 1em;
          padding: 0px;
  }
  
  div#logo {
    display: none;
  }
}

















